
.icon-cancel-circled2:before { content: '\e800'; } /* '' */
.icon-cancel:before { content: '\e801'; } /* '' */
.icon-forward:before { content: '\e802'; } /* '' */
.icon-star-half-alt:before { content: '\f123'; } /* '' */
.icon-lock-open-alt:before { content: '\f13e'; } /* '' */
